 .container{
   width: 80vw;
  margin-top: 10vh;
}

.card{
  margin-top:6vh;
}

.card-header{
  background:#000000;
  color:#1DB954;

}

form{
background: #000000;
color:#1DB954;
opacity:0.85;
border-radius: 1%
}

.btn{
  background:#1DB954;
  color:white;
}

.btn:hover{
color:black;
}

a{
  color:white;
}

#shake-me{
  animation: shake 1s;
  animation-iteration-count: 1;


}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#header-tag{
  display:flex;
  background:black;
  color:#1DB954;
  opacity:0.7;
  padding-left:20%;
  padding-top:2vh;
  padding-bottom:2vh;
}

body{
  
 background: white;
    
} 


#header-label{
  padding-left: 25px;
  font-weight: 800;
  font-size:65px;
}