#map {
    height: 100%;
    width: 100%;
    position: absolute;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#mapParent {
    position: relative;
    height: 90%;
    border-bottom: solid 2pt #1DB954;
}

#mapButtons {
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 38%;
}

.btn-lg {
    margin: 10px;
    font-weight: bold;
    color: white;
    border: solid 1pt;
    /* probably dont need this many box shadow properties */
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#startRide {
    background-color: black;
}

#startRide:active {
    background-color: #147A38;
}

#findRide {
    background-color: #1DB954;
}

#findRide:active {
    background-color: #0F877D;
}

h1 {
    text-align: center;
    background-color: #1DB954;
    padding-bottom: 8px;
    margin-bottom: 0;
    border-bottom: solid 1px white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.pac-container {
    z-index: 10000 !important;
}

#goButton, #driverSubmitRide, #passengerSubmitRide, #driverConfirmButton, #ridingPassengersClose {
    background-color: #1DB954;
}

#cancelButton, #driverCancelButton, #passengerCancelButton, #driverConfirmCancelButton {
    background-color: black;
    color: white;
}

#destinationSearch:focus {
    outline: #1DB954;
}

#showPassengersButton {
    /* display:none; */
    display:none;
    z-index:3;
    position: absolute;
    top: 4%;
    left: 4%;
    background-color:#1DB954;
    color:white;
}

.list-group {
    display: none;
    max-width: 500px;
    min-width: 350px;
    margin: 0 auto;
    /* box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

h4 {
    color: #1DB954;
    /* z-index: 10001; */
    text-align: center;
    background-color: slategray;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
    /* margin-top: 150px; */
}

/* .driver {
    color: black;
    position: relative;
} */

.driverName {
    font-weight: bold;
    padding-right: 20px;
}

.seatsLeft {

}

.estArrival {
    color: #1DB954;
    position: absolute;
    right: 20px;

}

.badge-primary {
    background-color: #1DB954 !important;
}

.riderNameSpan {
    color: #1DB954;
    font-weight: 300;
}

#ridingPassengerModalFooter {
    padding: 0.5rem;
}

#startRide, #findRide {
    font-family: 'Montserrat', sans-serif;
    border:none;
    border-radius: 4px;
}

#userIcon {
    position: absolute;
    right: 50px;
    color:white;
}

#userIcon i:hover {
    color: black;
}

a {
    color:white;
}